:root {
	--colorBlack: #000000;
	--colorBlackBackground: #010e10;
	
	--colorWhite: #ffffff;
	
	--colorGray: #3d3d3d;
	--colorDarkGray: #1c1c1c;
	
	--colorGold: #f0d683;
	
	--colorGreen: #17868d;

}